@{
    ViewData["Title"] = "Resume";
}




<h1>Welcome to my page</h1>
<div><h6>Made by Barry</h6></div>

<a href="Home/GetInfo"> Info </a>
<br />
<a href="Home/GetEducation"> Education </a>
<br />
<a href="Home/GetSkills"> Skills </a>
<br />
<a href="Home/GetExperience"> Experience </a>
<br />

<br />
<br />
<br />
<br />
<br />
